@model Hackathon.TeamHorizon.Feature.Hack.ViewModels.HackViewModel

@if (Model != null)
{
    @Model.HackTitle

    if (Model.IsExperienceEditor)
    {
        <div>
            <img src="@Model.HackImage.Src" />
        </div>
    }
    else
    {
        <div id="heroCarousel" class="carousel slide" data-ride="carousel">
            @if (Model.HackImage != null)
            {
                <div>
                    <img class="d-block img-fluid" src="@Model.HackImage.Src" />
                </div>
            }
        </div>
    }

    @Model.HackBody
}
